
Database/klamath.pdb
Database/Ingest/nrcs_wsf.csv
Database/Ingest/nrcs_wsf.xlsx
Database/Ingest/nrcs_wsf_11501000.xlsx
Database/Ingest/nrcs_wsf_11501000_aproct.csv
Database/Ingest/nrcs_wsf_aprsep.csv
Models/KlamathOps.mdl.bak.gz
Models/KlamathOps.mdl.7.3.gz
Database/Untitled.ipynb
